<! DOCTYPE HTML>

<html>
	
	<title>node application with express</title>

	<body>
		
		<h1> Hello there ! we will be right back soon</h1>
		
		<p> Working with something , please be patient</p>

	</body>
</html>
